[Unit]
Description=A platform for open-invite parties, gatherings, shindigs, and get-togethers
After=network.target

[Service]
ExecStart=python3 /opt/slacl/main.py

[Install]
WantedBy=multi-user.target