

#chat_container {
    width:50%;
    height: 590px;
    margin: 0 auto;
    margin-top: 0px;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
}

#messages {
    border: 1px solid #0c0e0f;
    background-color: #0c0e0f;
    flex: 1 1 auto;
    width: 100%;
    margin:0 auto;
    overflow-y: scroll;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
    caret-color: #d8dcdd;
    padding: 0;
}

#bottom_bar {
    flex: 0 0 60px;
}

#compose {
    border: none;
    resize: none;
    width: 80%;
    height: 100%;
    background-color: #2d3538;
    font-family: Arial;
    color: #d8dcdd;
    font-size: 13pt;
    float:left;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#send {
    width: 20%;
    height: 100%;
    float:right;
    font-size: 16pt;
}

.messagewrp {
    padding: 10px 0;
}

.message {
    background: #0053ba;
    color: #d8dcdd;
    border-radius: 30px;
    font-family: Arial;
    padding: 10px 25px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.messagetxt {
    vertical-align: top;
    overflow-wrap: break-word;
}

@media only screen and (max-device-width: 600px) {
    #chat_container {
        width: 100%;
        height: 100%;
    }

    #bottom_bar {
        flex: 0 0 120px;
    }

    #send {
        font-size: 25pt;
    }

    .messagewrp{
        padding: 30px 0;
    }

    .message {
        font-size: 35pt;
        border-radius: 60px;
        padding: 20px 50px;
        
    }

    #compose {
        font-size: 16pt;
    }
}